<?xml version="1.0"?>

<launch>

  <arg name="robot_name" default="racecar"/>
  <arg name="enable_odom_tf" default="false"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="odom_topic" default="odom"/>
  <arg name="robot_namespace" default="$(arg robot_name)"/>

  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find racecar_simulator)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find racecar_simulator)/models"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find racecar_simulator)/worlds/racecar.world"/>
      <arg name="paused" default="false"/>
      <arg name="use_sim_time" default="true"/>
      <arg name="gui" default="true"/>
      <arg name="headless" default="false"/>
      <arg name="debug" default="false"/>
    </include>

    <include file="$(find racecar_simulator)/launch/racecar_spawn.launch">
      <arg name="robot_name" default="$(arg robot_name)"/>
      <arg name="enable_odom_tf" default="$(arg enable_odom_tf)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="odom_topic" default="$(arg odom_topic)"/>
      <arg name="robot_namespace" default="$(arg robot_name)"/>
    </include>

</launch>
