<?xml version="1.0"?>

<launch>

  <node pkg="data_recorder" type="data_recorder_node" name="data_recorder_node" clear_params="true" output="screen">
    <param name="save_path" value="/home/llm/myracecar/_data/test.txt"/>
    <param name="record_topic0" value="/accel"/>
    <param name="record_type0" value="Accel"/>
    <param name="record_title0" value="accel"/>
  </node>

</launch>


