<?xml version="1.0"?>

<launch>

  <!-- topic and frame -->
  <arg name="scan_topic" default="/scan"/>
  <arg name="cmd_topic" default="/cmd_vel"/>
  <arg name="imu_topic" default="/imu_data"/>
  <arg name="odom_gazebo_topic" default="/odom"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="map_frame" default="map"/>
  <arg name="odom_gazebo_frame" default="odom"/>
  <arg name="imu_frame" default="IMU_link"/>
  <arg name="laser_frame" default="laser"/>

  <arg name="odom_rf2o_topic" default="/odom_rf2o"/>
  <arg name="odom_rf2o_frame" default="odom_rf2o"/>

  <!-- simulator -->
  <arg name="simulator" default="false"/>

  <group if="$(arg simulator)">

    <include file="$(find racecar_description)/launch/racecar_rviz.launch"/>

    <arg name="inter_odom_rf2o_laser_topic" default="/rf2o_laser_odometry"/>
    <include file="$(find racecar_launch)/launch/includes/rf2o_laser_odometry.launch.xml">
      <arg name="laser_scan_topic"  default="$(arg scan_topic)"/>
      <arg name="rf2o_odom_topic" default="$(arg inter_odom_rf2o_laser_topic)"/>
      <arg name="base_frame_id" default="$(arg base_frame)"/>
      <arg name="odom_frame_id" default="$(arg odom_gazebo_topic)"/>
      <arg name="publish_tf" default="false"/>
    </include>

    <include file="$(find racecar_launch)/launch/includes/rf2o_tf_publisher.launch.xml">
      <arg name="odom_real_sub_topic" default="$(arg odom_gazebo_topic)"/>
      <arg name="odom_rf2o_sub_topic" default="$(arg inter_odom_rf2o_laser_topic)"/>
      <arg name="odom_real_pub_topic" default="/odom_real"/>
      <arg name="odom_rf2o_pub_topic" default="$(arg odom_rf2o_topic)"/>
      <arg name="odom_real_sub_frame" default="$(arg odom_gazebo_frame)"/>
      <arg name="odom_rf2o_pub_frame" default="$(arg odom_rf2o_frame)"/>
    </include>

  </group>


  <!-- gmapping -->
  <arg name="gmapping" default="false"/>

  <group if="$(arg gmapping)">

    <include file="$(find racecar_launch)/launch/includes/robot_localization.launch.xml">
      <arg name="imu0_topic" default="$(arg imu_topic)"/>
      <arg name="odom0_topic" default="$(arg odom_rf2o_topic)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_rf2o_frame)"/>
      <arg name="base_link_frame" default="$(arg base_frame)"/>
      <arg name="world_frame" default="$(arg odom_rf2o_frame)"/>
      <arg name="param_file" default="$(find racecar_launch)/param/ekf_params.yaml"/>
    </include>

    <include file="$(find racecar_launch)/launch/run_gmapping.launch" if="$(arg gmapping)">
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_rf2o_frame)"/>
    </include>

  </group>


  <!-- savemap -->
  <arg name="savemap" default="false"/>

  <group if="$(arg savemap)">

    <arg name="mapfile_name" default="racetrack"/>
    <node pkg="map_server" type="map_saver" name="map_saver" args="-f $(find racecar_launch)/map/$(arg mapfile_name).rviz"/>

  </group>


  <!-- navigation -->
  <arg name="navigation" default="false"/>

  <group if="$(arg navigation)">

    <include file="$(find racecar_launch)/launch/includes/robot_localization.launch.xml">
      <arg name="imu0_topic" default="$(arg imu_topic)"/>
      <arg name="odom0_topic" default="$(arg odom_rf2o_topic)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_rf2o_frame)"/>
      <arg name="base_link_frame" default="$(arg base_frame)"/>
      <arg name="world_frame" default="$(arg odom_rf2o_frame)"/>
      <arg name="param_file" default="$(find racecar_launch)/param/ekf_params.yaml"/>
    </include>

    <arg name="mapfile_name" default="racetrack"/>
    <include file="$(find racecar_launch)/launch/run_navigation.launch" if="$(arg navigation)">
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="base_frame" default="/$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_rf2o_frame)"/>
      <arg name="cmd_topic" default="$(arg cmd_topic)"/>
      <arg name="mapfile_name" default="$(arg mapfile_name)"/>
    </include>

  </group>


  <!-- rviz -->
  <arg name="rviz_base" default="false"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_launch)/rviz/racecar_rf2o_odometry_base.rviz" if="$(arg rviz_base)"/>

  <arg name="rviz_full" default="false"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_launch)/rviz/racecar_rf2o_odometry_full.rviz" if="$(arg rviz_full)"/>

</launch>
