<?xml version="1.0"?>

<launch>

  <arg name="robot_name" default="racecar"/>


  <!-- simulator -->
  <arg name="simulator" default="false"/>
  <include file="$(find racecar_simulator)/launch/racecar_gazebo.launch" if="$(arg simulator)">
    <arg name="robot_name" default="$(arg robot_name)"/>
    <arg name="enable_odom_tf" default="true"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="odom_topic" default="odom"/>
    <arg name="robot_namespace" default="$(arg robot_name)"/>
  </include>


  <group ns="$(arg robot_name)">

    <!-- topic and frame -->
    <arg name="scan_topic" default="/$(arg robot_name)/laser/scan"/>
    <arg name="cmd_topic" default="/$(arg robot_name)/cmd_vel"/>
    <arg name="imu_topic" default="/$(arg robot_name)/imu/data"/>
    <arg name="map_topic" default="/$(arg robot_name)/map"/>
    <arg name="odom_topic" default="/$(arg robot_name)/odom"/>
    <arg name="base_frame" default="$(arg robot_name)/base_link"/>
    <arg name="map_frame" default="$(arg robot_name)/map"/>
    <arg name="odom_frame" default="$(arg robot_name)/odom"/>
    <arg name="imu_frame" default="$(arg robot_name)/imu_link"/>
    <arg name="laser_frame" default="$(arg robot_name)/laser_link"/>

    <!-- gmapping -->
    <arg name="gmapping" default="false"/>

    <group if="$(arg gmapping)">
      <include file="$(find racecar_launch)/launch/run_gmapping.launch" if="$(arg gmapping)">
        <arg name="scan_topic" default="$(arg scan_topic)"/>
        <arg name="base_frame" default="$(arg base_frame)"/>
        <arg name="map_frame" default="$(arg map_frame)"/>
        <arg name="odom_frame" default="$(arg odom_frame)"/>
      </include>
    </group>


    <!-- savemap -->
    <arg name="savemap" default="false"/>

    <group if="$(arg savemap)">
      <arg name="mapfile_name" default="racetrack"/>
      <node pkg="map_server" type="map_saver" name="map_saver" args="-f $(find racecar_launch)/map/$(arg mapfile_name).rviz"/>
    </group>


    <!-- navigation -->
    <arg name="navigation" default="false"/>

    <group if="$(arg navigation)">
      <arg name="mapfile_name" default="racetrack"/>
      <include file="$(find racecar_launch)/launch/run_navigation.launch" if="$(arg navigation)">
        <arg name="map_topic" default="$(arg map_topic)"/>
        <arg name="scan_topic" default="$(arg scan_topic)"/>
        <arg name="cmd_topic" default="$(arg cmd_topic)"/>
        <arg name="odom_topic" default="$(arg odom_topic)"/>
        <arg name="laser_frame" default="$(arg laser_frame)"/>
        <arg name="base_frame" default="$(arg base_frame)"/>
        <arg name="map_frame" default="$(arg map_frame)"/>
        <arg name="odom_frame" default="$(arg odom_frame)"/>
        <arg name="mapfile_name" default="$(arg mapfile_name)"/>
      </include>

    <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <rosparam file="$(find racecar_launch)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find racecar_launch)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find racecar_launch)/config/move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find racecar_launch)/config/move_base/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find racecar_launch)/config/move_base/base_local_planner_params.yaml" command="load" />

      <param name="global_costmap/laser_scan_sensor/sensor_frame" value="$(arg laser_frame)"/>
      <param name="global_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
      <param name="global_costmap/global_frame" value="$(arg map_frame)"/>
      <param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="$(arg laser_frame)"/>
      <param name="local_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
      <param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
      <param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
      <remap from="cmd_vel" to="$(arg cmd_topic)"/>
      <remap from="odom" to="$(arg odom_topic)"/>
    </node-->

    </group>


    <!-- slam -->
    <arg name="slam" default="false"/>

    <group if="$(arg slam)">
      <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
        <rosparam command="load" file="$(find racecar_launch)/config/gmapping.yaml" />
        <remap from="scan" to="$(arg scan_topic)" />
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="map_frame"  value="$(arg map_frame)"/>
      </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <rosparam file="$(find racecar_launch)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find racecar_launch)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find racecar_launch)/config/move_base/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find racecar_launch)/config/move_base/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find racecar_launch)/config/move_base/base_local_planner_params.yaml" command="load" />

      <param name="global_costmap/laser_scan_sensor/sensor_frame" value="$(arg laser_frame)"/>
      <param name="global_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
      <param name="global_costmap/global_frame" value="$(arg map_frame)"/>
      <param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="$(arg laser_frame)"/>
      <param name="local_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
      <param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
      <param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
      <remap from="cmd_vel" to="$(arg cmd_topic)"/>
      <remap from="odom" to="$(arg odom_topic)"/>
    </node>
    </group>

  </group>

  <!-- rviz -->
  <arg name="rviz_base" default="false"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_launch)/rviz/racecar_gazebo_odometry_base.rviz" if="$(arg rviz_base)">
    <remap from="/move_base_simple/goal" to="/$(arg robot_name)/move_base_simple/goal"/>
    <remap from="/initialpose" to="/$(arg robot_name)/initialpose"/>
  </node>

  <arg name="rviz_full" default="false"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_launch)/rviz/racecar_gazebo_odometry_full.rviz" if="$(arg rviz_full)">
    <remap from="/move_base_simple/goal" to="/$(arg robot_name)/move_base_simple/goal"/>
    <remap from="/initialpose" to="/$(arg robot_name)/initialpose"/>
  </node>

</launch>
