<?xml version="1.0"?>

<launch>

  <arg name="map_topic"/>
  <arg name="scan_topic"/>
  <arg name="cmd_topic"/>
  <arg name="odom_topic"/>
  <arg name="laser_frame"/>
  <arg name="base_frame"/>
  <arg name="map_frame"/>
  <arg name="odom_frame"/>
  <arg name="mapfile_name"/>

  <arg name="origin_x" default="0.0"/>
  <arg name="origin_y" default="0.0"/>

  <arg name="amcl_mode" default="false"/>
  <arg name="slam_mode" default="false"/>

  <group if="$(arg amcl_mode)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find racecar_launch)/map/$(arg mapfile_name).yaml">
      <param name="frame_id" value="$(arg map_frame)"/>
    </node>

    <include file="$(find racecar_launch)/launch/includes/amcl.launch.xml">
      <arg name="map_topic" default="$(arg map_topic)"/>
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="use_map_topic" default="true"/>
      <arg name="first_map_only" default="true"/>
      <arg name="init_x" default="$(arg origin_x)"/>
      <arg name="init_y" default="$(arg origin_y)"/>
      <arg name="init_a" default="0"/>
    </include>
  </group>

  <group if="$(arg slam_mode)">
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
      <param name="map_update_interval" value="1.0"/>
      <param name="temporalUpdate" value="1.0"/>
      <param name="xmin" value="-20.0"/>
      <param name="xmax" value="20.0"/>
      <param name="ymin" value="-20.0"/>
      <param name="ymax" value="20.0"/>
      <param name="temporalUpdate" value="1.0"/>
      <remap from="scan" to="$(arg scan_topic)" />
      <param name="base_frame" value="$(arg base_frame)"/>
      <param name="odom_frame" value="$(arg odom_frame)"/>
      <param name="map_frame"  value="$(arg map_frame)"/>
    </node>
  </group>

  <node name="path_pursuit_node" pkg="racecar_gazebo" type="path_pursuit.py" output="screen">
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="global_plan_topic" value="/move_base/TebLocalPlannerROS/local_plan"/>
    <param name="ackermann_cmd_topic" value="/vesc/low_level/ackermann_cmd_mux/input/navigation"/>
  </node>

  <include file="$(find racecar_launch)/launch/includes/move_base.launch.xml" >
    <arg name="odom_topic" default="$(arg odom_topic)"/>
    <arg name="cmd_topic" default="$(arg cmd_topic)"/>
    <arg name="scan_topic" default="$(arg scan_topic)"/>
    <arg name="map_topic" default="$(arg map_topic)"/>
    <arg name="laser_frame" default="$(arg laser_frame)"/>
    <arg name="map_frame" default="$(arg map_frame)"/>
    <arg name="odom_frame" default="$(arg odom_frame)"/>
    <arg name="base_frame" default="$(arg base_frame)"/>
    <arg name="origin_x" default="$(arg origin_x)"/>
    <arg name="origin_y" default="$(arg origin_y)"/>
  </include>

</launch>
