<?xml version="1.0"?>

<launch>

  <!-- topic and frame -->
  <arg name="scan_topic" default="/laser/scan"/>
  <arg name="cmd_topic" default="/cmd_vel"/>
  <arg name="imu_topic" default="/imu/data"/>
  <arg name="map_topic" default="/map"/>
  <arg name="odom_gazebo_topic" default="/odom_gazebo"/>
  <arg name="odom_rf2o_topic" default="/odom_rf2o"/>
  <arg name="odom_ekf_topic" default="/odom_ekf"/>
  <arg name="odom_topic" default="/odom"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="imu_frame" default="imu_link"/>
  <arg name="laser_frame" default="laser_link"/>

  <!-- launch option -->
  <arg name="simulator" default="false"/>
  <arg name="realrobot" default="false"/>
  <arg name="gmapping" default="false"/>
  <arg name="pure_mapping" default="false"/>
  <arg name="savemap" default="false"/>
  <arg name="navigation" default="false"/>
  <arg name="slamandnav" default="false"/>


  <!-- simulator -->
  <group if="$(arg simulator)">
    <arg name="world_name" default="building"/>
    <include file="$(find racecar_gazebo)/launch/racecar_gazebo.launch">
      <arg name="enable_odom_tf" default="false"/>
      <arg name="odom_topic" default="$(arg odom_gazebo_topic)"/> <!-- odom_gazebo_topic -->
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="cmd_topic" default="$(arg cmd_topic)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="world_name" default="$(arg world_name)"/>
    </include>

    <!--include file="$(find racecar_launch)/launch/includes/rf2o_laser_odometry.launch.xml">
      <arg name="publish_tf" default="false"/>
      <arg name="rf2o_odom_topic" default="$(arg odom_rf2o_topic)"/>
      <arg name="laser_scan_topic"  default="$(arg scan_topic)"/>
      <arg name="base_frame_id" default="$(arg base_frame)"/>
      <arg name="odom_frame_id" default="$(arg odom_frame)"/>
      <arg name="init_pose_from_topic" default="/initialpose"/>
    </include>

    <include file="$(find racecar_launch)/launch/includes/robot_localization.launch.xml">
      <arg name="publish_tf" default="true"/>
      <arg name="odom_pub_topic" default="$(arg odom_topic)"/>
      <arg name="imu0_topic" default="$(arg imu_topic)"/>
      <arg name="odom0_topic" default="$(arg odom_rf2o_topic)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="base_link_frame" default="$(arg base_frame)"/>
      <arg name="world_frame" default="$(arg odom_frame)"/>
      <arg name="param_file" default="$(find racecar_launch)/param/ekf_localization/ekf.yaml"/>
    </include-->
  </group>


  <!-- realrobot -->
  <group if="$(arg realrobot)">
    <include file="$(find racecar_launch)/launch/run_base_sensor.launch">
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="imu_frame" default="$(arg imu_frame)"/>
      <arg name="imu_topic" default="$(arg imu_topic)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="odom_topic" default="$(arg odom_topic)"/>
      <arg name="laser_frame" default="$(arg laser_frame)"/>
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="cmd_topic" default="$(arg cmd_topic)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
    </include>
  </group>


  <!-- gmapping -->
  <group if="$(arg gmapping)">
    <include file="$(find racecar_launch)/launch/run_gmapping.launch">
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
    </include>
  </group>

  <!-- pure_mapping -->
  <group if="$(arg pure_mapping)">
    <include file="$(find pure_mapping)/launch/pure_mapping.launch">
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
    </include>
  </group>

  <!-- savemap -->
  <group if="$(arg savemap)">
    <arg name="world_name" default="building"/>
    <node pkg="map_server" type="map_saver" name="map_saver" args="-f $(find racecar_launch)/map/$(arg world_name)"/>
  </group>

  <!-- navigation -->
  <group if="$(arg navigation)">
    <arg name="world_name" default="building"/>
    <include file="$(find racecar_launch)/launch/run_navigation.launch">
      <arg name="map_topic" default="$(arg map_topic)"/>
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="cmd_topic" default="$(arg cmd_topic)"/>
      <arg name="odom_topic" default="$(arg odom_topic)"/>
      <arg name="laser_frame" default="$(arg laser_frame)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="mapfile_name" default="$(arg world_name)"/>
      <arg name="amcl_mode" default="true"/>
    </include>
  </group>


  <!-- slam and navigation -->
  <group if="$(arg slamandnav)">
    <include file="$(find racecar_launch)/launch/run_navigation.launch">
      <arg name="map_topic" default="$(arg map_topic)"/>
      <arg name="scan_topic" default="$(arg scan_topic)"/>
      <arg name="cmd_topic" default="$(arg cmd_topic)"/>
      <arg name="odom_topic" default="$(arg odom__topic)"/>
      <arg name="laser_frame" default="$(arg laser_frame)"/>
      <arg name="base_frame" default="$(arg base_frame)"/>
      <arg name="map_frame" default="$(arg map_frame)"/>
      <arg name="odom_frame" default="$(arg odom_frame)"/>
      <arg name="mapfile_name" default="$(arg mapfile_name)"/>
      <arg name="slam_mode" default="true"/>
    </include>
  </group>

  <!-- rviz -->
  <arg name="rviz_base" default="false"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_launch)/rviz/racecar_rf2o_odometry_base.rviz" if="$(arg rviz_base)"/>

  <arg name="rviz_full" default="false"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_launch)/rviz/racecar_rf2o_odometry_full.rviz" if="$(arg rviz_full)"/>

</launch>
