<?xml version="1.0"?>

<launch>

  <arg name="scan_topic"/>
  <arg name="cmd_topic"/>
  <arg name="base_frame"/>
  <arg name="map_frame"/>
  <arg name="odom_frame"/>

  <arg name="mapfile_name"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find racecar_launch)/map/$(arg mapfile_name).yaml"/>

  <include file="$(find racecar_launch)/launch/includes/amcl.launch.xml" >
    <arg name="scan_topic" default="$(arg scan_topic)"/>
    <arg name="base_frame" default="$(arg base_frame)"/>
    <arg name="map_frame" default="$(arg map_frame)"/>
    <arg name="odom_frame" default="$(arg odom_frame)"/>
    <arg name="use_map_topic" default="true"/>
    <arg name="first_map_only" default="true"/>
    <arg name="init_x" default="0"/>
    <arg name="init_y" default="0"/>
    <arg name="init_a" default="0"/>
  </include>

  <include file="$(find racecar_launch)/launch/includes/move_base.launch.xml" >
    <arg name="odom_frame" default="$(arg odom_frame)"/>
    <arg name="cmd_topic" default="$(arg cmd_topic)"/>
  </include>

</launch>
